@import './reset.css';
#box03, #box02, #box_01{
    border: 1px solid #ff0000;
}
#body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    background-color: #fafafc;
    max-width: screen;
}

#header {
    background-image: url(../Photos/Background_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1050px;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
}

#logoImg {
    position: absolute;
    top: 80px;
    left: 10%;
}

#navList {
    padding: 90px 100px 0 0;
    position: absolute;
    left: 65%;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 50px;
}

.navListItem {
    padding: 0 30px 0 30px;
}

.navListItemLink {
    font-size: 16px;
    color: #ffffff;
}

.navListItemLink:hover {
    border-bottom: 2px solid #ffffff;
    color: white;
}

.navListItemLink:active {
    opacity: 0.5;
}

#headerBox {
    padding: 300px 0 0 0;
}

#mainTitle {
    line-height: 60px;
    height: auto;
    font-weight: bold;
    font-size: 45px;
    color: #ffffffff;

}

#headerText {
    color: #ffffffff;
    display: block;
    height: 50px;
    padding: 12px 0 0 0;
    z-index: 9;
}

#headerButtonsCover {
    display: flex;
    width: 500px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.headerButton {
    font-weight: 600;
    height: 40px;
    width: 170px;
    margin: 0 10px 0 0;
    border-radius: 10px;
}

#downloadButon {
    background-color: #ffffff;
    border: none;
}

#contactButon {
    border: 1px solid #ffffffff;
    background: rgba(255, 255, 255, 0);
}

#headerSmartphone {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 80%;
    left: 50%;
}

#main {
    position: relative;
}

/* ******* BOX_01 ********/
#box01_bg {
    width: 100%;
    max-height: 1300px;
    z-index: 1;
    display: inline-block;
    position: absolute;
    top: -175px;
    left: 0px;
}

#box_01 {
    background-color: #fafafc;
    background-position: 50% 0;
    padding: 550px 0 100px 0;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 20;
}

#box_01PhonePhoto {
    position: absolute;
    top: 250px;
    left: 330px;
}

.box_list_item {
    position: absolute;
    display: inline-block;
    height: 320px;
    width: 270px;
    background-color: #ffffff;

    box-shadow: 0px 8px 15px -5px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0px 8px 15px -5px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 8px 15px -5px rgba(0, 0, 0, 0.26);
}

#box_list_item01 {
    top: 50px;
    left: 900px;
}

#box_list_item02 {
    top: 475px;
    left: 800px;
}

#box_list_item03 {
    top: 100px;
    left: 1250px;
}

#box_list_item04 {
    top: 550px;
    left: 1200px;
}

.box_list_item-img {
    display: block;
    margin: 60px 0px 0 100px;
}

#box03_list_item-img {
    margin-left: 110px;
}

#box04_list_item-img {
    margin-left: 115px;
}

.box_list_item-title {
    padding: 20px 10px 20px 10px;
    font-size: 14px;
    font-weight: 600;
}

.box_list_item-text {
    color: #6a6d89;
    font-size: 14px;
    opacity: 0.7;
    line-height: 27px;
    word-break: break-word;
    width: 100px;
}

/* BOX_01 */
/* ******************************** */
/* BOX_02 */
#box02 {
    padding: 500px 0 0 0;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

#box02_TextBox {
    z-index: 5;
    text-align: right;
    width: 500px;
    height: 300px;
    display: inline-block;
}

#box02_TextBox-title {
    padding: 0 0 50px 0;
    font-weight: bold;
    font-size: 30px;
}

#box02_TextBox-text {
    font-size: 14px;
    color: #6a6d89;
    padding: 0 0 15px 0;
    line-height: 27px;

}

#box02_TextBox-button {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600px;
    background-color: #33d2fd;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

#box02_list {}

.box02_list_item {
    margin: 0 0 20px 0;
    width: 545px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #ff0000; */

    box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.35);
}

#box02_list_item02 {
    background-color: #33d2fd;
    height: 135px;
}

.box02_list_item-img {
    padding: 20px 30px 0 30px;
    width: 30px;
    height: 30px;
}

#box02_list_item-img02 {
    height: 36px;
    width: auto;
}

.box02_list_item-title {
    padding: 25px 0 0 0;
    font-weight: bold;
    display: inline-block;
    height: 16px;
}
.box02_list_item-text{
    margin: 0 0 20px 78px;
    width: 400px;
}
/* !*~*~*~*BOX_03*~*~!*!*!  */
