#body {
  background-color: rgb(204, 204, 204);
}
#main{
  position: relative;
}
#avatar{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 99px 0 0 0;
}
#avatar_img{
  
}
.skill_box{
    background-color: rgb(196, 196, 196);
    width: 100%;
    margin: 0 0 50px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 200px 0 50px 0;
    text-align: center;
}
.skill_box_item{
    width: 33%;
    padding-top: 10px;
    font-size: 30px;
    /* text-align: left; */
}
.skills_title{
  font-size: 45px;
  color: rgb(201, 129, 20);
  margin-bottom: 100px;
  padding-left: 50px;
}
.skill_box_item-list-Item{
  text-align: left;
  padding: 10px 0 0 200px;
}
.skill_box_item-list-Item::before{
  content:"◼️";
  padding-right: 5px;
}

#hireButton {
  position: absolute;
  position: fixed;
  right: 10px;
  bottom: 50px;
  background-color: rgb(54, 54, 54);
  color: rgb(201, 189, 20);
  font-size: 25px;
  padding: 65px 20px 65px 20px;
  border: none;
  border-radius: 50%;
}
#hireButton:hover {
  background-color: rgb(30, 30, 30);
  border: none;
}

#hireButton:active {
  background-color: rgb(255, 255, 255);
}
#modal_window{
  height: 550px;
  width: 350px;
  background-color: rgb(0, 0, 0);
  z-index: 0;
  position: absolute;
}